@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 250 250 250;
}

code, pre { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
